extends layout

block content
  h1= title
  h3 Welcome to #{title}
  p Post a blog below
  form(name="add-blog", method="post" action="/api/blogs/")
        div.input
            style(type='text/css').
                input[type=text] {
                  width: 100%;
                  padding: 12px 20px;
                  margin: 8px 0;
                  display: inline-block;
                  border: 1px solid #ccc;
                  border-radius: 4px;
                  box-sizing: border-box;
                }

                input[type=submit] {
                  width: 100%;
                  background-color: #4CAF50;
                  color: white;
                  padding: 14px 20px;
                  margin: 8px 0;
                  border: none;
                  border-radius: 4px;
                  cursor: pointer;
                }

                input[type=submit]:hover {
                  background-color: #45a049;
                }

                div {
                  border-radius: 5px;
                  background-color: #f2f2f2;
                  padding: 20px;
                }
            span.label Name
            input(type="text", name="name")
            br
            br
        div.input
            span.label Blog Headline
            input(type="text", name="headline")
            br
            br
        div.input
            span.label Blog Body
            br
            textarea(name="body", cols="150", rows="5")
            br
        div.actions
            input(type="submit", value="save")